<div class="scrollable" ui-shared-state="searchBar">
    <div ui-content-for="title">
        <span>Scroll</span>
    </div>
    <input
            ng-if="Ui.active('searchBar')"
            type="text"
            class="form-control scrollable-header"
            placeholder="Search.." ng-model="$parent.test">
    <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
        <div class="list-group">
            <div class="media" ng-repeat="item in scrollItems | filter:test ">
                <div class="media-left">
                    <a href="">
                        <i class="media-object fa fa-gamepad feature-icon text-primary"></i>
                    </a>
                </div>
                <div class="media-body">
                    <h4>iPhone 7</h4>
                    <a  href="#!/details/{{item}}" class="list-group-item"><P>{{ item }}</P>
                        <!--{{ item }} <i class="fa fa-chevron-right pull-right"></i>-->
                        <p hidden>{{item}}</p>
                    </a>
                </div>
            </div>
            <!--<a ng-repeat="item in scrollItems | filter:test " href="#!/details/{{item}}" class="list-group-item">-->
                <!--{{ item }} <i class="fa fa-chevron-right pull-right"></i>-->
                <!--<p hidden>{{item}}</p>-->
            <!--</a>-->
        </div>
    </div>

    <!--rightMenu-->
    <div ui-content-for="rightBar">
            <a class="btn" ui-toggle="searchBar">
                <i class="fa fa-search"></i>
            </a>
    </div>
</div>